.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
  background-image: url('./assets/content.jpeg');;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 25px;
  max-width: 800px;
  width: 95%;
  position: relative;
  text-align: center;
}

.modal-content h2,
.modal-content p,
.modal-content span {
  color: black;
}

.modal-content p {
  margin-bottom: 1em;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.product-container1 {
    position: relative;
    width: 1500px;
    height: 55%;
    border: 3px solid #ff0000;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 80px;
    z-index: 1001;
}

.product-content1 {
    display: flex;
    width: 100%;
    align-items: center;
    height: 420px;
}

.product-image1 {
    flex: 1;
    padding: 10px;
    margin-top: 30px;
    margin-left: 20px;
}

.product-image1 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    display: block;
    border: 3px solid #ed1308;
    display: block;
    margin: 0 auto;
}

.product-info1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-left: 5px;
    margin-right: -10px;
    font-family: 'kellyslab', sans-serif;
}

.product-title1 {
    border: 3px solid #ed1308;
    background-color: #f6fb90;
    padding: 8px 5px;
    text-align: center;
    margin-top: 10px;
    width: 80%;
    height: auto;
    align-self: center;
    font-family: 'handjet';
    font-size: 28px;
}

.product-description1 {
    border: 3px solid #ed1308;
    background-color: #f6fb90;
    padding: 15px;
    text-align: left;
    margin-top: 20px;
    width: 80%;
    align-self: center;
    font-size: 20px;
}

.product-actions1 {
    bottom: 20px;
    left: 0;
    padding: -15px;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quantity-control1 {
    display: flex;
    align-items: center;
    border: 3px solid #ed1308;
    background-color: #f6fb90;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'kellyslab', sans-serif;
}

.quantity-btn1 {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
}

.quantity1 {
    margin: 0 10px;
}

.add-to-cart1 {
    border: 3px solid #ed1308;
    background-color: #f6fb90;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'kellyslab', sans-serif;
}