button {
    font-family: 'roboto slab', sans-serif;
    font-weight: 700;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.add-button {
  background-color: #ff7d77;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  font-size: 24px;
  margin-right: 90px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

.product-card {
  width: 250px;
  height: 270px;
  background-color: #fff786;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.06);
}

.product-card .product-image {
  height: 130px;
  width: 130px;
  object-fit: cover;
  margin: 0 auto;
  border: none;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.product-button {
  background-color: #ff7d77;
  color: black;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.product-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  margin-left: 10px;
  margin-right: 2px;
}

.product-availability {
  margin: 0;
  font-size: 14px;
  flex-shrink: 0;
  text-align: left;
  font-weight: 700;
}

.product-close {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

/* Modal */
.modal-box.wide {
  width: 800px;
}

.modal-content-product {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.product-details-left {
  flex: 1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: justify;
}

.product-details-right {
  flex: 1;
  text-align: center;
}

.modal-product-image {
  width: 70%;
  height: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.quantity-control {
  display: flex;
  gap: 0px;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-control input::-webkit-outer-spin-button,
.quantity-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-control input[type="number"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color:  white;
  color: black;
  padding: 0;
  appearance: textfield;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  background-color: #ff7d77;
  cursor: pointer;
  border-radius: 30%;
}

.edit-button {
  margin-top: 20px;
  background-color: #ff7d77;
  color: black;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

/* Добавление нового продукта */
.modal-box.add-product {
  width: 600px;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 20px;
}

.add-form input,
.add-form textarea,
.add-form select {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ed1308;
  border-radius: 5px;
  background-color: #FDF5C9;
}

.add-form textarea {
  resize: vertical;
}

.add-product-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.form-row label {
  min-width: 120px;
  font-weight: bolder;
  font-size: 19px;
}

.form-input.wide,
.form-select.wide {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ff7d77;
  border-radius: 5px;
  background-color: white;
}

.form-input-quantity {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.form-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  margin-top: 2px;
  padding: 8px 16px;
  background-color: #ff7d77;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease;
}

.file-label:hover {
  background-color: #e06666;
}