@font-face {
    font-family: 'handjet';
    src: url('./assets/Handjet-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

/* Основные стили карточки */
.card {
    width: calc(25% - 15px);
    min-width: 280px;
    border: 2px solid #ed1308;
    border-radius: 15px;
    background-color: #FDF5C9;
    padding: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.card-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 15px;
    border: 2px solid #ed1308;
    border-radius: 15px;
    overflow: hidden;
}

.card-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
    font-family: 'kellyslab', sans-serif;
}


.card-description {
    text-align: justify;
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
    margin-left: 4px;
    flex-grow: 1; 
    font-family: 'kellyslab', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.card-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 15px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    font-family: 'kellyslab', sans-serif;
}

.buy-button {   
    background-color: #f6fb90;
    border: 2px solid #ed1308;
    border-radius: 5px;
    color: #000000;                         
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'kellyslab', sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1400px;
    margin: -20px auto 0 auto;
}
