@font-face {
    font-family: 'handjet'; /* Название шрифта (можно любое) */
    src: url('./assets/Handjet-VariableFont.ttf') format('truetype'); /* Путь к файлу */
    font-weight: normal; /* Жирность (400) */
    font-style: normal; /* Обычный стиль (не italic) */
    font-display: swap;
  }

/* Основные стили карточки */
.card {
    width: calc(25% - 15px);
    min-width: 280px;
    border: 2px solid #ed1308;
    border-radius: 15px;
    background-color: #FDF5C9;
    padding: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.card-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 15px;
    border: 2px solid #ed1308;
    border-radius: 15px;
    overflow: hidden;
}

/* Стили для заголовка товара */
.card-title {
    text-align: center;        /* Выравнивание текста по центру */
    font-size: 25px;           /* Размер шрифта */
    font-weight: bold;        /* Жирное начертание */
    margin-bottom: 10px;      /* Отступ снизу */
    color: #000000;              /* Темно-серый цвет текста */
    font-family: 'kellyslab', sans-serif;
}

/* Стили для описания товара */
.card-description {
    text-align: justify;        /* Выравнивание текста по центру */
    font-size: 18px;          /* Размер шрифта */
    color: #000000;              /* Серый цвет текста */
    margin-bottom: 20px;      /* Отступ снизу */
    margin-left: 4px;
    flex-grow: 1; 
    font-family: 'kellyslab', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    margin-left: 15px;
    margin-right: 15px;
}

/* Контейнер для нижней части карточки (цена + кнопка) */
.card-footer {
    position: absolute;
    display: flex;             /* Flex-контейнер для выравнивания элементов */
    justify-content: space-between; /* Распределение пространства между элементами */
    bottom: 15px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

/* Стили для цены товара */
.card-price {
    font-size: 18px;          /* Размер шрифта */
    font-weight: bold;        /* Жирное начертание */
    color: #000000;           /* Красный цвет текста */
    font-family: 'kellyslab', sans-serif;
}

/* Стили для кнопки "Купить" */
.buy-button {   
    background-color: #f6fb90;
    border: 2px solid #ed1308;
    border-radius: 5px;       /* Закругление углов кнопки */ 
    color: #000000;                         
    padding: 8px 16px;        /* Внутренние отступы (8px сверху/снизу, 16px слева/справа) */
    text-align: center;       /* Выравнивание текста по центру */
    text-decoration: none;    /* Убираем подчеркивание */
    display: inline-block;    /* Строчно-блочный элемент */
    font-size: 18px;          /* Размер шрифта */
    font-weight: bold;
    cursor: pointer;          /* Курсор-указатель при наведении */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
    font-family: 'kellyslab', sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1400px;
    margin: -20px auto 0 auto;
}
